{% extends 'workspace/base.html' %}

{% block title %}| Update the genre "{{ genre.name }}"{% endblock title %}

{% block work_content %}
    <div class="bg-white pt-10 mt-10 profile">
        <div class="mb-4">Update the genre "{{ genre.name }}":</div>
        <div>
            <form action="{% url 'workspace_update_genre' id=genre.id %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <lable class='block' for="name_input">Name <span class="text-red">*</span></lable>
                    <input type="text" name="name" id="name_input" value="{{ genre.name }}" class="border-2 border-solid">
                </div>
                <div>
                    <button type="submit" class="">Save</button>
                </div>
                {% if message %}
                    <div class="mt-4 text-danger text-center">
                        <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock work_content %}