{% load static %}
<header>
    <div class="frame">
    </div>
    <div class="container">
        <div class="header_inner">
            <div class="text-6xl title font-bold">
                Стражи Галактики
            </div>
            <div class="text-2xl max-w-3xl">
                Отважному путешественнику Питеру Квиллу попадает в руки таинственный артефакт, принадлежащий могущественному и безжалостному злодею Ронану, строящему коварные планы по захвату Вселенной. Питер оказывается в центре межгалактической охоты, где жертва — он сам.
            </div>
            <div class="flex items-center">
                <img src="{% static 'svg/header_star.svg' %}" alt=""><span class="text-3xl">7.0</span>
            </div>
        </div>
    </div>
</header>