{% extends 'base.html' %}
{% load static %}

{% block title %}| Change password{% endblock title %}

{% block content %}

    <div class="pt-10 flex justify-center items-center">
        <div class="card profile p-4" style="min-width: 400px">
            <form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <input type="password" name="password" class="login_input h-10 rounded-xl p-2 w-full" placeholder="Enter current password" required>
                </div>
                <div class="mb-4">
                    <input type="password" name="new_password" class="login_input h-10 rounded-xl p-2 w-full" placeholder="Enter new password" required>
                </div>
                <div class="mb-4">
                    <input type="password" name="confirm_password" class="login_input h-10 rounded-xl p-2 w-full" placeholder="Confirm password" required>
                </div>
                <div class="text-end">
                    <button type="submit" class="bg-amber-400 rounded-xl text-black addCommentBtn">Change</button>
                </div>
                {% if message %}
                    <div class="mt-4 text-red-500 text-center">
                        <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}
